# Flutter build
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# VSCode
.vscode/

# Firebase config (proteção)
lib/firebase_options.dart
firebase_options.dart
google-services.json
.env

# Web build
web/.dart_tool/
web/build/

# Dart
*.lock
*.log
