# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
*.iml

# Firebase secrets
lib/firebase_options.dart

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/.cxx/
android/**/*.keystore
android/**/*.jks

# iOS/Mac
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
macos/Flutter/GeneratedPluginRegistrant.swift

# VSCode specific
*.log